.main {
    width: 300px;
    border: 1px solid black;
    padding: 10px;
}

.lookingForJob{
    position: relative;
    width: 60px;
    border: 1px solid black;
}
.lookingForJob:hover::after{
   scale: 1.6;
   border: 1px solid red;
   content: attr(data-title); /* Выводим текст */
   position: absolute; /* Абсолютное позиционирование */
   left: 20%; top: 30%; /* Положение подсказки */
   z-index: 1; /* Отображаем подсказку поверх других элементов */
   background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
   font-family: Arial, sans-serif; /* Гарнитура шрифта */
   font-size: 11px; /* Размер текста подсказки */
   padding: 5px 10px; /* Поля */
   border: 1px solid #333; 
}